VERSION_NAME=1.0.0
VERSION_CODE=100
GROUP=PACKAGE.NAME.HERE

REPO.PROPERTIES=/path/to/your/repo.properties.file

POM_DESCRIPTION=LIBRARY DESCRIPTION HERE
POM_URL=URL FOR LIBRARY
POM_SCM_URL=URL FOR SCM HERE
POM_SCM_CONNECTION=URL FOR SCM HERE
POM_SCM_DEV_CONNECTION=URL FOR SCM HERE
POM_LICENCE_NAME=The MIT License (MIT)
POM_LICENCE_URL=URL TO VIEW LICENSE
POM_LICENCE_DIST=repo
POM_DEVELOPER_ID=DEVELOPER ID
POM_DEVELOPER_NAME=DEVELOPER NAME
POM_DEVELOPER_EMAIL=DEVELOPER EMAIL